<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>header}}

  </head>
  <body>
    {{>navbar}}

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img src="./images/404.svg" alt="about img" class="img-fluid">
              </figure>
            </div>
            <!-- right div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>This is not the page you are looking for.</p>
              <h1>Oops; Page could not foud</h1>
              <a href="/"><button><i class="fa fa-home"></i> Home</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
